<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="/home/vivek/.config/obmenu-generator/icons/2dd89e059cfc79430318a45a8a89d54b.png"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal" icon="/home/vivek/.config/obmenu-generator/icons/eb1f6f7f26cb6d31081b560ef31f4928.png"><action name="Execute"><command><![CDATA[alacritty -e zsh]]></command></action></item>
    <item label="Web Browser" icon="/home/vivek/.config/obmenu-generator/icons/e795b0b8fc5973da325697ebb8e05d31.png"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
  <separator label="Categories"/>
  <menu id="0.822943721971573" icon="/home/vivek/.config/obmenu-generator/icons/dec60b328f1c68a35fda8af211499c7d.png" label="Accessories">
    <item label="File Manager PCManFM" icon="/home/vivek/.config/obmenu-generator/icons/2dd89e059cfc79430318a45a8a89d54b.png"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/vivek/.config/obmenu-generator/icons/1c6409200a67086699a5c3b62fe1141e.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Wallpaper" icon="/home/vivek/.config/obmenu-generator/icons/5b03182ee8857045f7c3ba879738f674.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Effects" icon="/home/vivek/.config/obmenu-generator/icons/9087491eb7144692fbebf79c7e648406.png"><action name="Execute"><command>picom -f --experimental-backends</command></action></item>
    <item label="Qalculate!" icon="/home/vivek/.config/obmenu-generator/icons/710b49bd5a219e7b2f60bf4356b53966.png"><action name="Execute"><command><![CDATA[qalculate-gtk]]></command></action></item>
    <item label="Screenshot" icon="/home/vivek/.config/obmenu-generator/icons/a60bc13b3afe21473e55f2bb2d7592a0.png"><action name="Execute"><command><![CDATA[gnome-screenshot --interactive]]></command></action></item>
    <item label="Text Editor" icon="/home/vivek/.config/obmenu-generator/icons/fa28bbccdb8ea53178a89feae5022254.png"><action name="Execute"><command><![CDATA[xed]]></command></action></item>
    <item label="Vim" icon="/home/vivek/.config/obmenu-generator/icons/987ef92ba8a80daaf3d745e0d7495618.png"><action name="Execute"><command><![CDATA[alacritty -e 'vim']]></command></action></item>
  </menu>
  <menu id="0.00591056643778032" icon="/home/vivek/.config/obmenu-generator/icons/e795b0b8fc5973da325697ebb8e05d31.png" label="Network">
    <item label="Avahi SSH Server Browser" icon="/home/vivek/.config/obmenu-generator/icons/1be588c8d58263b210606a8bc5a67831.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/vivek/.config/obmenu-generator/icons/1be588c8d58263b210606a8bc5a67831.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Brave" icon="/home/vivek/.config/obmenu-generator/icons/bcafbc34784e3bcc026750baf00196b6.png"><action name="Execute"><command><![CDATA[brave]]></command></action></item>
  </menu>
  <menu id="0.823675676700063" icon="/home/vivek/.config/obmenu-generator/icons/0b82a46b62fcd3afe7908b39cfd0d580.png" label="Office">
    <item label="LibreOffice Base" icon="/home/vivek/.config/obmenu-generator/icons/e1270e7eac4a2d08fc2fb175940c3667.png"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc" icon="/home/vivek/.config/obmenu-generator/icons/39879f3daf3c5b10b1abd66c109213d5.png"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw" icon="/home/vivek/.config/obmenu-generator/icons/94939be887e39fa89727cfa922449085.png"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress" icon="/home/vivek/.config/obmenu-generator/icons/dc4a9a18ce7c58092658990b7dc46a24.png"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Math" icon="/home/vivek/.config/obmenu-generator/icons/9a3c79b033bbc5e04d6ac5654cbc9467.png"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="LibreOffice Writer" icon="/home/vivek/.config/obmenu-generator/icons/44ec5c9bf8435675b27f109373f8b2bf.png"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="LibreOffice" icon="/home/vivek/.config/obmenu-generator/icons/0b172528677a57fff0c7ebe828916771.png"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
  </menu>
  <menu id="0.762039351180956" icon="/home/vivek/.config/obmenu-generator/icons/bcb151d4685693cd69071c109fe5aaa0.png" label="Settings">
    <item label="Advanced Network Configuration" icon="/home/vivek/.config/obmenu-generator/icons/1be588c8d58263b210606a8bc5a67831.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Customize Look and Feel" icon="/home/vivek/.config/obmenu-generator/icons/0dd68bbb35c85975ca801fd9aa136eb7.png"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Default applications for LXSession" icon="/home/vivek/.config/obmenu-generator/icons/e5cbb79be8f87ca4a404075a3750b2a4.png"><action name="Execute"><command><![CDATA[lxsession-default-apps]]></command></action></item>
    <item label="Desktop Preferences" icon="/home/vivek/.config/obmenu-generator/icons/f0a745c3a19bffde18fa6717b3a7daf8.png"><action name="Execute"><command><![CDATA[pcmanfm --desktop-pref]]></command></action></item>
    <item label="Desktop Session Settings" icon="/home/vivek/.config/obmenu-generator/icons/e5cbb79be8f87ca4a404075a3750b2a4.png"><action name="Execute"><command><![CDATA[lxsession-edit]]></command></action></item>
    <item label="Firewall Configuration" icon="/home/vivek/.config/obmenu-generator/icons/b8b5ab15fcb7e87f3e551ca800b9c7a6.png"><action name="Execute"><command><![CDATA[gufw]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/vivek/.config/obmenu-generator/icons/1c6409200a67086699a5c3b62fe1141e.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/vivek/.config/obmenu-generator/icons/0476ece428f10447c407d0cc404807fd.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Preferred Applications" icon="/home/vivek/.config/obmenu-generator/icons/e5cbb79be8f87ca4a404075a3750b2a4.png"><action name="Execute"><command><![CDATA[libfm-pref-apps]]></command></action></item>
    <item label="Qt5 Settings" icon="/home/vivek/.config/obmenu-generator/icons/0dd68bbb35c85975ca801fd9aa136eb7.png"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Tint2 Settings" icon="/home/vivek/.config/obmenu-generator/icons/a8e043e750aab4414f3a0370b65921e0.png"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  </menu>
  <menu id="0.000826117856455255" icon="/home/vivek/.config/obmenu-generator/icons/a176b24cfc1041f19deeb2d962ed10c1.png" label="System">
    <item label="Terminal" icon="/home/vivek/.config/obmenu-generator/icons/730bad5b893b27fd05734129bd317338.png"><action name="Execute"><command><![CDATA[alacritty -e zsh]]></command></action></item>
    <item label="Avahi Zeroconf Browser" icon="/home/vivek/.config/obmenu-generator/icons/1be588c8d58263b210606a8bc5a67831.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="BleachBit" icon="/home/vivek/.config/obmenu-generator/icons/b11c50b686a765e4a72404155b7f9246.png"><action name="Execute"><command><![CDATA[bleachbit]]></command></action></item>
    <item label="File Manager PCManFM" icon="/home/vivek/.config/obmenu-generator/icons/2dd89e059cfc79430318a45a8a89d54b.png"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="Htop" icon="/home/vivek/.config/obmenu-generator/icons/d6256ba9f410160cd50c098ee153e426.png"><action name="Execute"><command><![CDATA[alacritty -e 'htop']]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/vivek/.config/obmenu-generator/icons/1c6409200a67086699a5c3b62fe1141e.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Manage Printing" icon="/home/vivek/.config/obmenu-generator/icons/81e06810799626570098e48f53068c9d.png"><action name="Execute"><command><![CDATA[/usr/bin/xdg-open http://localhost:631/]]></command></action></item>
    <item label="Timeshift" icon="/home/vivek/.config/obmenu-generator/icons/c72f302c1873c57c39639d03772f1b28.png"><action name="Execute"><command><![CDATA[timeshift-launcher]]></command></action></item>
    <item label="Tint2" icon="/home/vivek/.config/obmenu-generator/icons/a8e043e750aab4414f3a0370b65921e0.png"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.374637256833385" icon="/home/vivek/.config/obmenu-generator/icons/5d4fce55a4a4966e420dedb34dbd7138.png" label="Advanced Settings">
      <item label="Tint2 Panel" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[/bin/bash $EDITOR ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="0.782246097981215" icon="/home/vivek/.config/obmenu-generator/icons/fa28bbccdb8ea53178a89feae5022254.png" label="Obmenu-Generator">
    <item label="Menu Schema" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[$EDITOR ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[$EDITOR ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon="/home/vivek/.config/obmenu-generator/icons/fa28bbccdb8ea53178a89feae5022254.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon="/home/vivek/.config/obmenu-generator/icons/fa28bbccdb8ea53178a89feae5022254.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon="/home/vivek/.config/obmenu-generator/icons/fa28bbccdb8ea53178a89feae5022254.png"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon="/home/vivek/.config/obmenu-generator/icons/fa28bbccdb8ea53178a89feae5022254.png"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh cache" icon="/home/vivek/.config/obmenu-generator/icons/bea463f6928b30d6539f9bf6955346e6.png"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0.0445017833424508" icon="/home/vivek/.config/obmenu-generator/icons/18d0310fcf7c8bb965edf7c46583c560.png" label="Openbox">
    <item label="Openbox Autostart" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>


    <menu label="Desktop" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png">
        <item label="New Desktop" icon="/home/vivek/.config/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    </menu>
    <item label="Reconfigure Openbox" icon="/home/vivek/.config/obmenu-generator/icons/18d0310fcf7c8bb965edf7c46583c560.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Power" icon="/home/vivek/.config/obmenu-generator/icons/5439731ba229bd41d9a7d50326f48767.png"><action name="Execute"><command><![CDATA[nwgbar -t ~/.config/dwm/poweroff.json -wm openbox]]></command></action></item>
  </menu>
</openbox_menu>
